@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');
@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');

:root {
--grey: #EDEDED;
--light-grey: #F7F7F7;
--white: #fff;
--light-purple: #f2eafb;
--purple:  #9356DC;
--light-green: #99e2d0;
--violet: #FF79DA;
--pink: #9356DC;
}

@keyframes grow {
  50% {
      transform: scale(1);
  }
}

@keyframes disappear {
  to {
      transform: scale(0);
  }
}

@keyframes slide-in-top {
  0% {
      transform: translateY(1000px);
      opacity: 0;
  }

  70% {
      opacity: 0.5;
  }
}


body {
  font-family: "Roboto", sans-serif;
  max-width: 1400px;
  margin: auto;
  padding: 0;
}

header {
  display: flex;
  justify-content : center;
  color: black;
  padding: 20px 0 20px 0;
  box-shadow: 0 5px 5px var(--light-grey);
}

form {
  display: flex;
  justify-content: center;
  background-color: var(--grey);
  height: 60px;
  color: black;
  padding-left: 100px;
}

form input {
  font-weight: bold;
  font-size: large;
  background-color: var(--grey) ;
  border: unset;
}

main header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: var(--light-grey);
  padding-bottom: 50px;
}

h1 {
  font-size: 1.7em;
}

main header P {
  margin: 0 30px 0 30px;
}

 main header a {
  align-self: center;
  margin: 20px 0;
  border-radius: 30px;
  padding: 15px 20px;
  width: 50%;
  color: var(--white);
  background: linear-gradient(#ff79da 10%, rgb(147, 86, 220) 100%);
  box-shadow: 0 10px 5px var(--light-grey);
  cursor: pointer;
}

main header a:hover, .search a:focus {
  background: linear-gradient(rgba(255, 121, 218, 0.8) 10%, rgba(147, 86, 220, 0.8) 100%);
  box-shadow: 0 10px 6px var(--light-grey);
}

.fa-location-dot {
  align-self: center;
  font-size: medium;
  margin-bottom: 5px;
  margin-right: 4px;
}

.introduction {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 30px;
  background-color: var(--white);
}

.introduction li {
  display: flex;
  padding-top: 25px;
  gap: 25px;
  border: 2px solid var(--light-grey);
  border-radius: 40px;
  height: 50px;
  transition: 0.3s;
  width: 100%;
  cursor: pointer;
  box-shadow: rgb(50 50 93 / 0%) 0px 5px 20px 0px, rgb(0 0 0 / 30%) -1px 5px 30px -10px;
}

.introduction li:hover ,
.introduction li:hover {
  background-color: var(--light-purple);
}

.introduction li:hover .icons,
.introduction li:focus .icons {
  color: rgb(147, 86, 220);
}

.numbers {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--purple);
  color: var(--white);
  width: 1rem;
  height: 1rem;
  padding: 10px;
  border-radius: 50%;
  position: relative;
  right: 10px;
  bottom: 9px;
  left: -1.0rem;
}

main ul {
  display: flex;
  flex-direction: Column;
  list-style-type: none;
  padding:0;
  gap: 20px;
  padding-bottom: 30px;
}

main li {
  border-radius: 20px;
  background-color: var(--white);
}

.restaurant-cards {
  display:flex;
  flex-direction: column;
  padding: 20px;
  background-color: #f5f5f5;
  scroll-behavior: smooth;
}

.restaurant-cards ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.restaurant-cards figure {
  width: 100%;
  height: 320px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin: 0;
  background-color: var(--white);
  text-decoration: none;
}

.restaurant-cards img {
  width: 100%;
  height: 230px;
}

figure {
  position:relative;
  border: 1px ;
  border-radius: 20px;
  background: white;
  width: 100%;
}

figcaption > p{
  position: absolute;
  top: 20px;
  right: 20px;
  border:0.5px solid;
  background-color : var(--light-green) ;
  border: unset;
  padding: 5px;
}

figcaption {
  display:flex;
  justify-content: space-between;
  padding: 20px;
  text-overflow: ellipsis;
}

figcaption h3,
figcaption p {
  margin: 0;
}

img {
  max-width: 100%;
  box-sizing: border-box ;
  margin: 0;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  }

footer {
  display: flex;
  flex-direction: column;
  color: var(--white);
  background-color: #3a3838;
  line-height: 1.5rem;
  padding-left: 20px;
}

footer h3 {
  font-family:"Shrikhand", cursive;
  font-weight: 700;
  font-size: 30px;
  margin: 1rem 0rem;
  margin-bottom: 0;
}

footer ul {
  padding:0;
  text-decoration: none;
}

footer li {
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  color: var(--white);
} 

footer a {
  color: white;
}

a {
  color: black;
  text-decoration: none;
  list-style-type: none;
}

figcaption .far.fa-heart,
figcaption .fas.fa-heart {
  position: absolute;
  font-size: 2em;
  border: unset; 
  right: 20px; 
  padding-top: 5px;
  cursor: pointer;
}

figcaption .fas.fa-heart {
  color: transparent;
  overflow: hidden !important;
  transition-duration: 3s; 
}

figcaption .far.fa-heart:hover,
figcaption .far.fa-heart:focus,
figcaption .fas.fa-heart:hover,
figcaption .fas.fa-heart:focus {
  color: rgb(147, 86, 220);
}

.header-menus {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 20px;
}

.header-menus img {
  font-weight: bold;
  width: 40%;
}

.fa-arrow-left {
  font-size: x-large;
}

.menus-cards {
  display: flex;
  flex-direction: Column;
  padding-bottom: 40px;
  padding-top: 0;
  width: 100%;
  background-color: #f5f5f5;
}

.menus-cards img {
  height: 300px;
  border-radius: unset;
  background-color: unset;
  width: 100%;
}

.menus-cards header {
  padding: 0;
  background-color: unset;
}

.menus-cards article {
  margin-top: -9rem;
  border-radius: 40px 40px 0 0;
  position: relative;
  padding: 20px;
  background-color: #f5f5f5;
}

.menus-cards article header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: unset;
  font-family: shrikhand, cursive;
  box-shadow: unset;
}

article header .fas.fa-heart {
  color: transparent;
}

article header .fas.fa-heart,
article header .far.fa-heart {
  position: absolute;
  font-size: 2em;
  border: unset; 
  right: 27px; 
  cursor: pointer;
  padding-top: 15px;
  overflow: hidden !important;
  transition-duration: 3s; 
}

article header .fa-heart:hover,
article header .fa-heart:focus {
  color: rgb(147, 86, 220);
}

.fa-circle-check{
  display:flex;
  color: var(--white);
  font-size: xx-large;
}

li:hover .fa-circle-check,
li:focus .fa-circle-check  {
  
  
}

section div {
  display: flex;
  background-color: var(--light-green);
  width: 4rem;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 5px;
  padding: 20px;
}

section div:hover {
  
}

.menus-cards article section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.menus-cards h2 {
  font-weight: unset;
}

.underline-h2 {
  width: 50px;
  height: 0.25em;
  background-color: var(--light-green);
  margin: 0;
  margin-left: 0px;
  padding: 0;
  margin-left:1px;
}

.menus-cards article section h2 {
  text-transform: uppercase;
  margin-bottom: 0;
}

.menus-cards article section ul {
  display: flex;
  flex-direction: column;
  width: 100%; 
}

.menus-cards .order-card1 li,
.menus-cards .order-card2 li,
.menus-cards .order-card3 li {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: .25rem .25rem 1rem rgba(0,0,0,.1);
  padding: 0 20px 0 20px;
  line-height: normal;
  position: relative;
}

.spinner {
  place-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  position: fixed;
  inset: 0;
  z-index: 1;
  opacity: 0.9;
  animation: disappear 300ms 5s forwards;
  transform-origin: center;
  background-color: #fff;
  width: 100%;
  height: 100%;
}

.spinner_wrapper {
  display: flex;
  width: 200px;
  height: 100px;
  left: 50%;
  right: 50%;
}

.circle {
  display: inline-block;
  background-color: var(--light-grey);
  height: 70px;
  width: 70px;
  border-radius: 50%;
  transform: scale(0);  
  animation: grow 3s linear infinite;
  margin: -10px;
}

.circle:nth-child(2) {
  background-color: var(--violet);
  animation-delay: 4s;

}

.circle:nth-child(3) {
  background-color: var(--pink);
  animation-delay: 3s;
}

.circle:nth-child(4) {
  background-color: #99E2D0;
  animation-delay: 2s;
}

.order-card1 li {
  animation: slide-in-top 3s ease ;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.order-card1 li section p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.order-card2 li {
  animation: slide-in-top 3s ease 500ms ;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.order-card2 li section p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.order-card3 li {
  animation: slide-in-top 3s ease 1s  ;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.order-card3 li section p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.order-card1 li  h3 ,
.order-card2 li  h3 ,
.order-card3 li h3  {
  margin-bottom: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.order-card1 li  p ,
.order-card2 li  p ,
.order-card3 li  p {
  margin-top: 0;
}

.order-card1 li  b,
.order-card2 li  b,
.order-card3 li b {
  align-self: center;
  margin-top: 30px;
  padding-right: 40px;
  
}

.order-card1 li i,
.order-card2 li i,
.order-card3 li i {
  align-self: center;
}

.menus-cards .menus-btn {
  align-self: center;
  border-radius: 30px;
  border: unset;
  height: 50px;
  color: white;
  width: 50%;
  cursor: pointer;
  background-image: linear-gradient(0deg,rgba(147,86,220,.8),rgba(255,121,218,.8));
  box-shadow: 8px 8px 2px #acabab;
}

@media (min-width: 768px) {
  .header-menus img {
    font-weight: bold;
    width: 30%;
  }
  
  .introduction ul { 
    flex-direction: row;
  }

  .restaurant-cards ul {
    flex-direction: column;
  }
 
}
  
@media (min-width: 992px ) {
  .header-menus img {
    font-weight: bold;
    width: 20%;
  }
  .restaurant-cards ul {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
 
  .restaurant-cards li {
   flex-wrap: wrap;
    width: 45%; 
  }

  figcaption .far.fa-heart {
    position: absolute;
    font-size: 2em;
    border: unset; 
    right: 20px; 
    padding-top: 15px;
    cursor: pointer;
  }
  
  figcaption .fas.fa-heart {
    color: transparent;
    position: absolute;
    font-size: 2em;
    border: unset; 
    right: 20px; 
    padding-top: 15px;
    cursor: pointer;
  }
  
  figcaption .far.fa-heart:hover,
  figcaption .far.fa-heart:focus,
  figcaption .fas.fa-heart:hover,
  figcaption .fas.fa-heart:focus {
    color: rgb(147, 86, 220)
  }
  
  article header .far.fa-heart {
    position: absolute;
    font-size: 2em;
    border: unset; 
    right: 20px; 
    padding-top: 15px;
  }
  
  article header .fas.fa-heart {
    color: transparent;
    position: absolute;
    font-size: 2em;
    border: unset; 
    right: 20px; 
    padding-top: 15px;
  }
  
  article header .fa-heart:hover,
  article header .fa-heart:focus {
    color: rgb(147, 86, 220)
  }
  
}

