h1 {
  font-size: 1.7em;
}

.logo{
    display: flex;
    justify-content : center;
    color: black;
    padding: 20px 0 20px 0;
    box-shadow: 0 5px 5px $light-gray;
  }

  .fa-location-dot {
    align-self: center;
    font-size: medium;
    margin-bottom: 5px;
    margin-right: 4px;
  }
  
.search-bar {
    display: flex;
    justify-content: center;
    background-color: $primary;
    height: 40px;
    color: black;
    padding: 0px;
}
  
    .search-bar .search input {
      font-weight: bold;
      font-size: large;
      background-color: $grey;
      border: unset;
    }
  

main header a {
    align-self: center;
    margin: 20px 0;
    border-radius: 30px;
    padding: 15px 20px;
    width: 50%;
    color: var(--white);
    background: linear-gradient(#ff79da 10%, rgb(147, 86, 220) 100%);
    box-shadow: 0 10px 5px var(--light-grey);
    cursor: pointer;
  }
  
  main header a:hover, .search a:focus {
    background: linear-gradient(rgba(255, 121, 218, 0.8) 10%, rgba(147, 86, 220, 0.8) 100%);
    box-shadow: 0 10px 6px var(--light-grey);
  }
  
  main header P {
    margin: 0 30px 0 30px;
  }
  
.introduction li {
  display: flex;
  padding-top: 25px;
  gap: 25px;
  border: 2px solid var(--light-grey);
  border-radius: 40px;
  height: 50px;
  transition: 0.3s;
  width: 100%;
  cursor: pointer;
  box-shadow: rgb(50 50 93 / 0%) 0px 5px 20px 0px, rgb(0 0 0 / 30%) -1px 5px 30px -10px;
}

.introduction .btn {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 30px;
  background-color: var(--white);
}

.introduction li:hover ,
.introduction li:hover {
  background-color: var(--light-purple);
}

.introduction li:hover .icons,
.introduction li:focus .icons {
  color: rgb(147, 86, 220);
}
