// Définition des mixin
@mixin center{
    display: flex;
    justify-content: center;
}

@mixin link {
    color: black;
    text-decoration: none;
    list-style-type: none;
}

@mixin space {
    display: flex;
    justify-content: space-between;
}
  
@mixin horizontal {
    display: flex;
    flex-direction: column;
}

@mixin text-appeal {
    flex-direction: row;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin text-overflow {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@mixin text-end {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}