@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');
@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');
@import "./homepage.scss";
@import "./keyframes.scss";
@import "./animations.scss";
@import "./variables.scss";


body {
  font-family: "Roboto", sans-serif;
  max-width: 1400px;
  margin: auto;
  padding: 0;
}

img {
  max-width: 100%;
  box-sizing: border-box ;
  margin: 0;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  }

