@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');
@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');
@import "./mixins.scss";
@import "./menus.scss";
@import "./homepage.scss";
@import "./keyframes.scss";
@import "./animations.scss";
@import "./variables.scss";

//main elements
body {
  font-family: "Roboto", sans-serif;
  max-width: 1400px;
  margin: auto;
  padding: 0;
}

img {
  max-width: 100%;
  box-sizing: border-box ;
  margin: 0;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  }
  .numbers {
    @include center;
    justify-content: center;
    background-color: var(--purple);
    color: var(--white);
    width: 1rem;
    height: 1rem;
    padding: 10px;
    border-radius: 50%;
    position: relative;
    right: 10px;
    bottom: 9px;
    left: -1.0rem;
  }

figure {
  position:relative;
  border: 1px ;
  border-radius: 20px;
  background: white;
  width: 100%;
}

  figcaption .far.fa-heart,
  figcaption .fas.fa-heart {
  position: absolute;
  font-size: 2em;
  border: unset; 
  right: 20px; 
  padding-top: 5px;
  cursor: pointer;
}
//icon animation 
figcaption .fas.fa-heart {
  color: transparent;
  overflow: hidden !important;
  transition-duration: 3s; 
}

figcaption .far.fa-heart:hover,
figcaption .far.fa-heart:focus,
figcaption .fas.fa-heart:hover,
figcaption .fas.fa-heart:focus {
  color: rgb(147, 86, 220);
}

figcaption {
  display:flex;
  justify-content: space-between;
  padding: 20px;
  text-overflow: ellipsis;
}

footer {
    display: flex;
    flex-direction: column;
    color: var(--white);
    background-color: #3a3838;
    line-height: 1.5rem;
    padding-left: 20px;
}
  